.convertorFromTo {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  .convertValue {
    label {
      margin: 0 5px;
    }
    input {
      width: 40px;
    }
  }

  .convertedValue {
    margin-left: 10px;
  }

  .selector {
    width: 100px;
    display: inline-block;
  }

  .convertSubmit {
    margin: 10px 0;
  }

  .button {
    margin: 7px;
  }
}

.inline {
  display: inline-block;
}

.currencyResultTxt {
  width: "100px";
}
